@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

.h-10 {
    height: 10%;
}

.h-8{
    height: 8%;
}

.h-82 {
    height: 82%;
}

.app-root{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}